@model KurumsalWeb.Models.Model.Department
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>TV Ekle</h2>


<div class="form">
    <form class="form-validate form-horizontal" id="feedback_form" method="post" action="/Departments/Create/" enctype="multipart/form-data">
        <div class="form-group ">
            <label for="cname" class="control-label col-lg-2">Bölüm İsmi <span class="required">*</span></label>
            <div class="col-lg-10">
                <input class="form-control" id="DepartmentAddress" name="DepartmentAddress" minlength="5" type="text" required />
            </div>
        </div>
        <div class="form-group ">
            <label for="cname" class="control-label col-lg-2">Tarih <span class="required">*</span></label>
            <div class="col-lg-10">
                <input class="form-control" id="DepartmentCreationDate" name="DepartmentCreationDate" minlength="5" type="text" required />
            </div>
        </div>
        <div class="form-group ">
            <label for="cname" class="control-label col-lg-2">Fakülte İsmi <span class="required">*</span></label>
            <div class="col-lg-10">
                @Html.DropDownList("DepartmentID", null, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
                <button class="btn btn-primary" type="submit">Ekle</button>
                <button class="btn btn-default" type="button"><a href="/Departments/Index">İptal</a></button>
            </div>
        </div>
    </form>
</div>
