@model KurumsalWeb.Models.Model.User

@using (Html.BeginForm("ForgotMyPassword", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="row justify-content-center">
        <div class="col-md-6">
            <p class="alert alert-warning">@ViewBag.Uyari</p>
            <br />
            <div class="form-group">
                @Html.LabelFor(model => model.UserMail, htmlAttributes: new { @class = "control-label" })
                <input type="email" class="form-control" name="usermail" required placeholder="E posta adresiniz" />

            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <input type="submit" value="Şifremi Mail Olarak Gönder" class="btn btn-success" />
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <a href="/Admin/Login">Yönetim Paneline Giriş</a>
            </div>
        </div>
    </div>


}

